<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="diskdetector-net" version="0.3.1" targetFramework="net45" />
  <package id="gong-wpf-dragdrop" version="1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net45" />
  <package id="NLog" version="4.4.1" targetFramework="net45" />
  <package id="NLog.Config" version="4.4.1" targetFramework="net45" />
  <package id="NLog.Schema" version="4.4.1" targetFramework="net45" />
  <package id="SharpRaven" version="2.1.0" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" />
</packages>